name: Generate GeoJSON

on:
  schedule:
    - cron: "0 7 * * 1"   # Cada dilluns a les 07:00 UTC
  workflow_dispatch:       # Permet executar-lo manualment

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python scripts/inat.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update GeoJSON"
          file_pattern: "girona_inat.geojson"
